<div class="administrative" >
    <a class="choice-welcome" href="#/welcome"><span class="icon icon-arrow-left"></span></a>
    <div class="section passenger">
        <div class="header">Passenger</div>
        <div ng-click="togglePassenger = !togglePassenger" class="icon icon-search"></div>
        <input class="search" type="text" ng-model="passengerFilter" ng-class="togglePassenger ? 'shown' : 'hidden';">
        <div class="add-new">
            <input type="text" ng-model="passenger.name" placeholder="Name">
            <input type="text" ng-model="passenger.age" placeholder="Age">
            <button ng-click="addPassenger()"><span class="icon-plus"></span></button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pass in passengers | filter:passengerFilter">
                    <td>{{pass.name}}</td>
                    <td>{{pass.age}}</td>
                    <td><div class="icon icon-trash" ng-click="removePassenger($index)"></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="section airplane">
        <div class="header">Airplane</div>
        <div ng-click="toggleAirplane = !toggleAirplane" class="icon icon-search"></div>
        <input class="search" type="text" ng-model="airplaneFilter" ng-class="toggleAirplane ? 'shown' : 'hidden';">

        <div class="add-new">
            <input type="text" ng-model="airplane.name" placeholder="Name">
            <input type="text" ng-model="airplane.seats" placeholder="Seats">
            <button ng-click="addAirplane()"><span class="icon-plus"></span></button>
        </div>

        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Seats</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="airplane in airplans | filter:airplaneFilter">
                    <td>{{airplane.name}}</td>
                    <td>{{airplane.seats}}</td>
                    <td><div class="icon icon-trash" ng-click="removeAirplane($index)"></div></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="section flight">
        <div class="header">Flight</div>
        <div ng-click="toggleFlight = !toggleFlight" class="icon icon-search"></div>
        <input class="search" type="text" ng-model="flightFilter" ng-class="toggleFlight ? 'shown' : 'hidden';">

        <div class="add-new">
            <input type="text" ng-model="flight.name" placeholder="Name">
            <input type="text" ng-model="flight.distance" placeholder="Distance">
            <button ng-click="addFlight()"><span class="icon-plus"></span></button>
        </div>

        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Distance</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="flight in flights | filter:flightFilter">
                    <td>{{flight.name}}</td>
                    <td>{{flight.distance}}</td>
                    <td><div class="icon icon-trash" ng-click="removeFlight($index)"></div></td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>

</div>