@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2uwh7p');
  src:  url('fonts/icomoon.eot?2uwh7p#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?2uwh7p') format('truetype'),
  url('fonts/icomoon.woff?2uwh7p') format('woff'),
  url('fonts/icomoon.svg?2uwh7p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e986";
}
.icon-trash:before {
  content: "\e9ac";
}
.icon-plus:before {
  content: "\ea0a";
}
