@import "https://fonts.googleapis.com/css?family=Montserrat";
body{
  background: url("subtle_grunge.png");
  font-family: 'Montserrat', sans-serif;
}

.content{
  position: relative;
  top: 5%;
  right: 5%;
  left: 5%;
  bottom: 5%;
  display: block;
  background-color: #e3e3e3;
}

.welcome{
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px #535353;
  .welcome-text{
    margin-top: 10%;
    font-size: 2em;
    line-height: 2em;
    color: #001f3f;
    text-align: center;
  }
  .review-text{
    margin: 10% 0;
    text-align: center;
  }
  .choice{
    display: block;
    height: 50px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    line-height: 50px;
    text-decoration: none;
    border-radius: 7px;
    &:hover{
      color: #f8f8f8 !important;
    }
    &.flight{
      float: right;
      background-color: #2ECC40;
      color: #0f4316;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &.admin{
      float: left;
      background-color: #0074D9;
      color: #001a35;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.administrative{
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  $admin-primary-c: #85144b;
  $admin-white-c: #eff0ee;
  a.choice-welcome{
    position: fixed;
    top: 50%;
    margin-top: -25px;
    height: 50px;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $admin-primary-c;
    color: $admin-white-c;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2.5px 5px 0 #535353;
    &:hover{
      box-shadow: 0 5px 10px 0 #535353;
    }
  }
  .section{
    display: block;
    position: relative;
    width: 30%;
    top: 30%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px #535353;
    background-color: $admin-white-c;
    float: left;
    margin: 10px;
    .header{
      font-size: 1.2em;
      line-height: 3em;
      text-align: center;
      background-color: $admin-primary-c;
      color: $admin-white-c;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      z-index: 1;
    }
    .icon.icon-search{
      color: $admin-white-c;
      position: absolute;
      font-size: 1.4em;
      right: 12.5px;
      top: 18px;
      cursor: pointer;
    }
    .search{
      display: none;
      padding: 0 10%;
      position: absolute;
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 1.8em;
      background-color: $admin-white-c;
      opacity: 0;
      outline: none;
      border: none;
      box-shadow: 0 7px 10px -7px $admin-primary-c;
      box-sizing: border-box;
      &.shown{
        display: block;
        opacity: 1;
      }
      &.hidden{
        opacity: 0;
        display: none;
      }
      &:focus{
        box-shadow: 0 12px 20px -12px $admin-primary-c;
      }
    }
    .add-new{
      display: flex;
      height: 50px;
      overflow: hidden;
      & > input{
        width: 50%;
        padding: 0 0.5em;
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        background: none;
        float: left;
        transition: all 150ms;
        border-radius: 5px;
        border: 1px solid $admin-white-c;
        box-sizing: border-box;
      }
      & > button{
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.1em;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        border-bottom-left-radius: 4px;
        border: none;
        background-color: $admin-primary-c;
        color: $admin-white-c;
        &:hover{
          color: $admin-white-c !important;
        }
      }
    }
    .table-container{
      height: 293px;
      overflow: auto;
      table{
        width:100%;
        font-size: 1em;
        tr {
          height: 40px;
        }
        td,th {
          padding: 0 10px;
          text-align: center;
          &:first-child{
            text-align: left;
          }
        }
        thead{
          vertical-align: middle;
          tr{
            th{
              font-weight: bold;
            }
          }
        }
        tbody{
          vertical-align: middle;
          tr{
            display: table-row;
            text-align: left;
            td{
              & > .icon{
                text-align: right;
                cursor: pointer;
                color: #FF4136;
              }
            }
          }
        }
      }
    }
  }
  .passenger{

  }
  .airplane{

  }
  .flight{

  }
}