<div class="welcome">
    <div class="welcome-text">Welcome to our Company</div>
    <div class="review-text">Your choice</div>
    <a class="choice admin" href="#/administrative">Administrative</a>
    <a class="choice flight" href="#/create-flight">Create Flight</a>
</div>
